
/* reset*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* fine reset */
body{
  background-color: darkgrey;
}
header{
  background-color: black;
}
header .container{
  width: 80%;
  height: 50px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
header .container > *{
  line-height: 40px;
}
.container > .research{
  justify-content: flex-end;
  margin-left: auto;
}
.container > .logo{
  color: red;
}
body.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.container-flex{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
i{
  color: yellow;
}
.flag{
  height: 10px;
}
/* box-offices */
#box-office{
  flex-basis: calc( 100% / 4 );
  padding: 10px 15px;
  position: relative;
}

#box-office img{
  width: 100%;
  height: 360px;
  border: 2px solid white;
}
#box-office ul{
  width: 91%;
  height: 360px;
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 20px 25px;
  list-style-type: none;
  display: inline-block;
  flex-direction: column;
  font-size: 10px;
  font-weight: 200;
  color: white;
  display: none;
}
#box-office:hover ul{
  display: block;
}
#box-office:hover ul{
  background-color: rgba(0,0,0,.8);
  z-index: 2;
}
